* {
    text-align: center;
    font-family: "Monaco", "sans-serif";
    background-color: rgb(237, 225, 225);
}

h1 {
    font-weight: bold;
}

ul, ol {
    list-style-position: inside;
}

li {
    padding: 3px;
}